*{
  margin:0;
  padding:0;
}




body{
 
 background:-webkit-linear-gradient(left, #27355a,#224e69) ;

}

/* Signup */
.signup-row{
  display: flex;
  max-width: 700px;
  min-height: 700px;
  padding: 20px;
  border-radius: 5px;
  margin: 100px 550px;

  

}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.btn {
  border-radius: 5px;
  border: 1px solid #18608a;
  background-color: #18608a;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin:  10px 48px;
}



.sign-up-text {
  text-align: center;
}



.image {
  width: 300px;
 
  
}
.sign-up-column {

  flex: 50%;
  padding: 10px;
  background-color: white;

}

.form{
  margin: 150px 100px;
}

.login-component {
  margin: 150px 600px;
}


.login-form {

  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  display:flex;
flex-direction: column;
justify-content: center;
align-items: center;


}

.login-form input {
width: 200px;
display: block;
}

.login-form label {
  display: inline-block;
  }



.go-back {
 margin-left: 500px;


}


.social-media {

  margin-top:40px;
  display:flex;
  justify-content: space-between;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}


.main-page-wrapper {
  height: 100vh;
  display: flex;

 
}

.sidebar {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15px;
  width: 200px;
  background-color: #2F4050;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 19px;
  margin: 48px;
}

.nav-links{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  background-color: white;
}

.signout {
  width: 150px;
  height: 30px;
  color:white;
  background-color: #ef6461;
  border:none;
  border-radius: 5px;
  font-size: 16px;
  
}

.workout-details-form {
 
  /* display:flex;
  flex-direction: row;
  justify-content: space-between; */
  margin: 20px 50px;
  border: 2px solid red;
 
}

/* .workout-details-form button {
  display: inline-block;
} */

.workout-details-form input {
width: 100px;
height: 5px;
margin:10px;
}

.items {

  margin: 20px 50px;
}


.edit-container {
  position: fixed;
  z-index: 1;
  background-color:whitesmoke;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.edit-form {
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  width: 500px;
  min-height: 200px;
  z-index: 10;
  position: fixed;
  top: 200px;
  left: 600px;
  box-shadow: 0px 1px 5px 3px steelblue;
  overflow: auto;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  
 
}

.edit-form input {
  width: 450px;
  height: 5px;
  display: block;
 
}

h3 {
  text-align:center
}


.btn-submit{
  width: 170px;
  background:  #99CCCC;
  color: #fff;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  margin-top:10px;
  margin-left:160px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;

}

.btn-submit:hover {
  background-color: #B00B69;
}

.delete-btn{
  
  width: 70px;
  background: #B00B69;
  color: #fff;
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  
}

.delete-btn:hover {
  background-color:#99CCCC  ;
}

.item-wrapper {
  border: 2px dotted rgb(96, 139, 168);
  width: 500px;

 
}

.details-container {

  display:block;
}

.item {
  
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-content: center;
  align-self:center ;
  margin: 20px 10px;
  border-bottom: 2px solid grey;
 
 
}






